.lesson {
    background: url('../images/angularjs-logo.png');
    background-position: 5px;
    background-repeat: no-repeat;
    padding-left: 50px;
}

.popover.top.error {
    display: block;
    max-width: 500px;
}