//*******************************************************************
//          COLORES
//*******************************************************************

$amarillo   : #FFCC33;
$blanco     : #FFFFFF;
$gris1      : #D7DDD7;
$gris2      : #AEB3AE;
$gris3      : #858A85;
$gris4      : #5C605C;
$negro      : #000000;
$rojo       : #FF0033;
$verdeOscuro: #009966;
$verdeRealce: #00FF66;
$verdeWibe  : #00CC66;